.sec_body {
  height: 100vh;
  background-color: #001a21;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec_inner {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 1rem;
}
.sec_1,
.sec_2,
.sec_3,
.sec_4,
.sec_5,
.sec_6 {
  position: relative;
  background: url("/src/Assets/secondpage/back1.jpg");
  background-size: cover;
}

.sec_p1,
.sec_p2,
.sec_p3,
.sec_p4,
.sec_p5,
.sec_p6 {
  position: absolute;
  height: 0;
  width: 100%;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
  background-color: rgba(255, 255, 255, 0.655);
  border-radius: 2px 2px 0 0;
}

.sec_1:hover .sec_p1 {
  height: 70%;
}

.sec_2:hover .sec_p2 {
  height: 70%;
}
.sec_3:hover .sec_p3 {
  height: 70%;
}
.sec_4:hover .sec_p4 {
  height: 70%;
}
.sec_5:hover .sec_p5 {
  height: 70%;
}
.sec_6:hover .sec_p6 {
  height: 70%;
}
h1,
p {
  padding: 0 1rem 0 1rem;
}
.sec_lab {
  margin-left: 1rem;
  cursor: pointer;
  color: mediumblue;
}
