@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik+Glitch&family=Single+Day&display=swap");
.App {
  font-family: "Single Day";
  font-weight: 700;
  background-image: url("./Assets/home/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
